
.header{
    position:fixed;
    display:flex;
    flex-direction: row;
    height:60px;
    justify-content: space-between;
    margin-bottom: 20px;
    top:0;
    left:0;
    right:0;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(209, 201, 201);
}

.leftsection{
    display:flex;
    align-items: center;
}

.hamburger-menu{
    height:25px;
    margin-left:24px;
    margin-right:24px;
}

.youtube-logo{
    height:25px;
    margin-left:15px;
}

.middlesection{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 20px;
    width:0;
}

.search-bar{
    border-style: solid;
    border-color:rgb(146, 145, 145);
    border-width:1px;
    height:20px;
    display:inline-block;
    max-width: 500px ;
    flex:1;
    height:36px;
    font-size:16px;
    padding-left: 10px;
    border-radius:2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder{
    padding-left:10px;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-icon{
    height:40px;
    width:66px;
    background-color: rgb(255, 246, 246);
    border-color: rgb(146, 145, 145);
    border-style:solid;
    border-width:1px;
    margin-left: -1px;
    position:relative;
}

.search-icon .tooltip,
.voice-search-icon .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip{
    background-color: gray;
    color:white;
    border-radius: 4px;
    position:absolute;
    padding-left: 4px;
    padding-right: 4px;
    padding-top:3px;
    padding-bottom:3px;
    bottom:-28px;
    opacity:0;
    pointer-events: none;
    white-space: nowrap;
}

.search-icon:hover .tooltip, 
.voice-search-icon:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip{
    opacity:1;
    transition: 0.5ms;
}

.search-icon,
.voice-search-icon,
.upload-icon-container,
.youtube-apps-container
{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.search{
    margin-top: 4px;
    height:28px;
    width:100%;
}

.voice-search-icon{
    height:40px;
    width:50px;
    margin-left:10px;
    border-radius: 500px;
    border-style: solid;
    border-color:none;
    border-width:0;
    background-color: white;
}

.voice{
    height:28px;
    margin-top:4px;
}


.rightsection{
    width:250px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right:25px;
    flex-shrink: 0;
}

.upload{
    height:38px;
}

.youtube-apps{
    height:38px;
}

.notifications{
    height:38px;
}

.notifications-container{
    position:relative;
}

.notifications-count{
    position:absolute;
    top:-3px;
    right:-4 git px;
    background-color: rgb(236, 65, 65);
    border-radius: 200px;
    color:white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: small;
    padding-left: 4px;
    padding-right: 4px;
    padding-top:3px;
    padding-bottom:3px;

}

.account{
    height:38px;
    border-radius:100px
}