.search{
    border-radius: 5px;
    border-style: solid;
    border-color:black;
    border-width:1px;
    height:20px;
    display:block;
}



.thumbnail{
    height:auto;
    width:100%;
    margin-top: 10px;
    border-radius: 2px;
}

.video-title,p{
    font-family:arial;
    width:300px;
}

.video-title{
    margin-bottom: 0px;
    font-weight: bolder;
}

.channel-name,
.video-stats{
    margin-top: 4px;
    margin-bottom:2px;
    opacity: 0.6;
    display:inline-block;
    font-size:16px;
}


.channel-image{
    border-radius: 100px;
    margin-top:10px;
    width:50px;
    height:auto;
    display:inline-block;
    margin-right:0px;
    margin-left:0px;
    
}

.video-info-grid{
    display:grid;
    grid-template-columns: 70px 1fr;
    height:auto;
    width:400px;
}

.channelimage-division{
    padding-left: 10px;
    padding-right:10px;
    vertical-align: top;  
    height:auto;
    width:100%;
    display:inline-block;
}
.video-division{
    vertical-align: top;
    width:300px;
    height:100px;
    margin-top:0;
    display:inline-block;
}

.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap:30px;
}
