.search{
    border-radius: 5px;
    border-style: solid;
    border-color:black;
    border-width:1px;
    height:20px;
    display:block;
}

.video-1{
    width:400px;
    height:auto;
    display:inline-block;
    vertical-align: top;
    margin-left:10px;
}

.video-2{
    width:400px;
    height:auto;
    display:inline-block;
    vertical-align: top;
    margin-left:10px;
}

.thumbnail-1{
    display:block;
    height:auto;
    width:400px;
    margin-top: 10px;
    border-radius: 2px;
}

.video-title,p{
    font-family:arial;
    width:300px;
}

.video-title{
    margin-bottom: 10px;
    display:block;
    font-weight: bolder;
}

.channel-name,
.video-stats{
    margin-top: 4px;
    margin-bottom:4px;
    opacity: 0.6;
    display:block;
    font-size:16px;
}


.thumbnail-2{
    display:block;
    height:auto;
    width:400px;
    margin-top: 10px;
    border-radius: 2px;
}

.channel-image{
    border-radius: 100px;
    margin-top:10px;
    width:50px;
    display:block;
    margin-right:0px;
    margin-left:0px;
    
}

.video-info-grid{
    display:grid;
    grid-template-columns: 60px 1fr;
    
}

.channelimage-division1,
.channelimage-division2{
    padding-left: 10px;
    padding-right:10px;
    vertical-align: top;
    background-color: gray;
    
}
.video1-division,
.video2-division{
    background-color: gray;
    vertical-align: top;
    padding-left: auto;
}
